[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests-oauthlib = "*"

[dev-packages]
prospector = "*"
docutils = "*"
pygments = "*"

[requires]
python_version = "3.6"
