<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akt Direkt testklient</title>
</head>
<body>
    <h1>Url till specificerad akt</h1>

    Om du har en DjVU-plugin installerad kan du titta på akten genom att klicka på länken nedan annars får du kopiera länkan och använda den för att öppna akten
    i en separat DjVU-visare som <a href="http://djvu.sourceforge.net/djview4.html">djview4</a>.

    <br/>
    Det går INTE att spara ner filen som länkas och sedan öppna den med en DjVU-visare då visaren försöker hitta sidorna i akten på samma plats som index.djvu filen.
    <br/>
    Med lite mer arbete och med minimal funktionalitet kan den rena HTML5 DjVU-visaren <a href="https://github.com/mateusz-matela/djvu-html5/">djvu-html5</a> användas.
    <br/><br/>

    <a href={{index_url}}>{{index_url}}</a>

</body>
</html>
