<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akt Direkt testklient</title>
</head>
<body>
    <h1>Url till specificerad akt</h1>

    Om du har en DjVU-plugin eller en separad DjVU-visare installerad kan du titta på akten genom att klicka på länken nedan.
    <br/><br/>
    Det rekommenderade sättet att titta på DjVU med V4 APIet är att låta webbläsaren öppna bilden i en separat DjVU-visare som <a href="http://djvu.sourceforge.net/djview4.html">djview4</a>.
    <br/>
    Med lite mer arbete och med minimal funktionalitet kan den rena HTML5 DjVU-visaren <a href="https://github.com/mateusz-matela/djvu-html5/">djvu-html5</a> användas.
    <br/><br/>
    Tidigare krävdes att du hade en NPAPI DjVU-plugin installerad för att det skulle gå att öppna en djvu länk direkt i webbläsaren.
    Om du har en DjVU-plugin installerad så kan du fortsätta använda den som tidigare om du så önskar.
    <br/>
    Det gick tidigare inte att att spara ner filen som länkas och sedan öppna den men det fungerar med API V4.
    <br/><br/>
    <a href={{index_url}}>{{index_url}}</a>

</body>
</html>
